.window-box {
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: white;
    color: #2c3e50;
}
.box-content {
    font-size: 14px;
    display: flex;
    padding: 15px;
    justify-content: space-around;
}
