@import '../assets/css/window.scss';
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.collapsible {
	width: 100%;
	border: none;
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding: 15px;
	cursor: pointer;
	background-color: white;
	outline: none;
	font-size: 12px;
}
.collapsible:hover {
	background-color: #eee;
}
.collapsible:after {
	content: '\002B';
	color: #aaa;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: '\2212';
}
.content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	padding: 0px 20px;
	box-sizing: border-box;
}
.msg-box {
	color: white;
	position: fixed;
	top: 50px;
	left: 0px;
	padding: 10px;
	width: 100%;
	font-size: 12px;

	& > span {
		position: fixed;
		right: 15px;
		cursor: pointer;
		text-align: center;
	}
}
.vertical {
	flex-direction: column;
}
.money-box {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	padding: 0px 10px;
}
.user-box {
	font-size: 12px;
    text-align: left;
	padding: 10px;
	position: relative;

	& > span:nth-child(1) {
		font-weight: 900;
	}
}
table {
	width: 100%;
	border-radius: 1em;
    border-collapse: collapse;
    overflow: hidden;
}
thead {
	background-color: #13143f;
    color: white;
    font-size: 14px;
}

th {
	font-weight: 100;
	padding: 10px;
}

td {
	padding: 5px;
	font-size: 14px;
}
.letter {
	color: #13143f;
}
.mint-letter {
	color: #00c89c;
}
.red-letter {
	color: #ff2950;
}
.orange-letter {
	color: #ff9b00;
}
tr:nth-child(even) {
	background-color: #eee;
}
.btn-box {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
	margin-top: 15px;
}
.mt15 {
	margin-top: 15px;
}
.input-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	font-size: 12px;
	font-weight: 100;
}
input[type="number"], input[type="text"] {
	border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px 10px;
	outline: none;
	font-size: 12px;
}
.mint, .red, .orange, .blue {
	border: none;
	color: white;
	border-radius: 5px;
    padding: 10px 15px;
	font-size: 12px;
	outline: none;
	cursor: pointer;
}
.mint {
	background-color: #00c89c;
}
// .mint:focus {
// 	background-color: #00886a;
// }
.mint:disabled, .mint[disabled] {
	background-color: #c6fff2;
}
.red {
	background-color: #ff2950;
	margin: 0px 10px;
	border: none;
	color: white;
	border-radius: 5px;
    padding: 10px 15px;
	font-size: 12px;
	text-decoration: none;
}
.red:active {
	background-color: #96001b;
}
// .red:focus {
// 	background-color: #96001b;
// }
// .red:disabled, .red[disabled] {
// 	background-color: #ffafbe;
// }
.orange {
	background-color: #ff9b00;
}
.orange:focus {
	background-color: #8f5700;
}
.blue {
	background-color: #13143f;
	margin-right: 10px;
}
.average {
	display: flex;
	justify-content: space-between;
	width: 100%;

	& > span:nth-child(1) {
		font-size: 20px;
	}
}
.bubble {
	background-color: #13143f;
	color: white;
	position: absolute;
	z-index: 100;
	padding: 10px;
	border-radius: 5px;

	& > button {
		background-color: #13143f;
		color: white;
		font-size: 12px;
		border: none;
		padding: 0;
		cursor: pointer;
	}
}
.bubble:before {
	content: '';
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 15px solid #13143f;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	left: -20px;
	bottom: 13px;
}