@import '../assets/css/window.scss';
.msg-box {
	color: white;
	position: fixed;
	top: 50px;
	left: 0px;
	padding: 10px;
	width: 100%;

	& > span {
		position: fixed;
		right: 15px;
		cursor: pointer;
		text-align: center;
	}
}
.vertical {
	flex-direction: column;
}
.money-box {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	padding: 0px 10px;
}
.user-box {
	font-size: 12px;
    text-align: left;
	padding: 10px;

	& > span {
		font-weight: 900;
	}
}
table {
	width: 100%;
	border-radius: 1em;
    border-collapse: collapse;
    overflow: hidden;
}
thead {
	background-color: #13143f;
    color: white;
    font-size: 14px;
}

th {
	font-weight: 100;
	padding: 10px;
}

td {
	padding: 5px;
	font-size: 14px;
}
.letter {
	color: #13143f;
}
.mint-letter {
	color: #00c89c;
}
.red-letter {
	color: #ff2950;
}
.orange-letter {
	color: #ff9b00;
}
tr:nth-child(even) {
	background-color: #eee;
}
form {
	padding: 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}

.input-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 100;
}
input[type="number"], input[type="text"] {
	border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
	outline: none;
}
button {
	border: none;
	color: white;
	border-radius: 5px;
    padding: 10px 15px;
	font-size: 14px;
	outline: none;
	cursor: pointer;
}
.mint {
	background-color: #00c89c;
}
// .mint:focus {
// 	background-color: #00886a;
// }
.mint:disabled, .mint[disabled] {
	background-color: #c6fff2;
}
.red {
	background-color: #ff2950;
	margin: 0px 10px;
	border: none;
	color: white;
	border-radius: 5px;
    padding: 10px 15px;
	font-size: 14px;
	text-decoration: none;
}
.red:active {
	background-color: #96001b;
}
// .red:focus {
// 	background-color: #96001b;
// }
// .red:disabled, .red[disabled] {
// 	background-color: #ffafbe;
// }
.orange {
	background-color: #ff9b00;
}
.orange:focus {
	background-color: #8f5700;
}
.blue {
	background-color: #13143f;
	margin-right: 10px;
}
.average {
	display: flex;
	justify-content: space-between;
	width: 100%;

	& > span:nth-child(1) {
		font-size: 20px;
	}
}
